<header>
    <div class="logo">
        <a href="/"> <h1>ISSUE TRACKER</h1></a>
     </div>
<div>

    <nav>
        <a href="/listproject"> List Project</a>
        <a href="/projectdetails"> Project Details</a>
    </nav>
</div>
   

</header>

