<link rel="stylesheet" href="/css/header.css">
<header>
    <div class="banner">
        <div class="logo">
            <a href="/">
                <img src="css/bug.png" alt="Issue Tracker Logo">
                <h1>ISSUE TRACKER</h1>
            </a>
        </div>
        <div>
            <nav class="projectdetailsheader">
                <a href="/projectdetails"><button>Project Details</button></a>
            </nav>
            <nav>
            <a href="/listproject" id="listProjectBtn">
                <button type="button" id="listProject"> list a Project </button> </a>
            </nav>
        </div>
    


</header>

  
