
<link rel="stylesheet" href="/css/homepage.css">
<main class="main-container">
   

    <%if(!listedProject){%>
        <div id="noProject">
            <span>
                No Project Added
            </span>
        </div>
        <%}else{%>
            <% for(let project of listedProject) { %>
                <div href="#" class="project">
                    <h4>
                        Project Name - 
                        <%= project.projectName%>
                    </h4>
                    <p>Developer Name - <%= project.developerName %>
                    </p>
                </div>
                <% } %>
                    <% } %>
</main> 